[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.3.0"
pytest-aiohttp = "==0.3.0"
mypy = "==0.670"
pytest-cov = "==2.6.1"
factory-boy = "==2.11.1"
pyjwt = "==1.7.1"
aiohttp = "==3.5.4"
cryptography = "==2.6.1"
sphinx = "==1.8.5"

[packages]

[requires]
python_version = "3.7"
